.right-bar{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.right-deta{
    -fx-background-color: #F8FAFC;
    -fx-background-radius: 30;
}
.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.list-view-list{
    -fx-background-color: #F5F5F7;
    -fx-background-radius: 30;
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 15;
}
.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.add-button{
    -fx-background-color: #E4E0E1;
    -fx-background-radius: 30;
}
.custom-button-color {
    -fx-text-fill: black; /* رنگ متن */
}

.custom-button {
    -fx-font-size: 20px; /* تغییر سایز فونت */
}

/* استایل کلی TabPane */
.tab-pane {
    -fx-border-color: #4CAF50; /* رنگ حاشیه TabPane */
    -fx-border-width: 2px; /* عرض حاشیه */
    -fx-background-color: #f5f5f5; /* رنگ پس‌زمینه TabPane */
}



/* استایل تب‌ها */
.tab {
    -fx-background-color: #BCCCDC; /* رنگ پس‌زمینه تب */
    -fx-text-fill: white; /* رنگ نوشته تب */
    -fx-padding: 10px; /* فضای داخلی تب */
}

/* استایل تب فعال */
.tab:selected {
    -fx-background-color: #9AA6B2; /* رنگ پس‌زمینه تب فعال */
    -fx-text-fill: yellow; /* رنگ نوشته تب فعال */
    -fx-font-weight: bold; /* متن ضخیم‌تر */
}

/* استایل محتوای تب */
.tab-content-area {
    -fx-background-color: #FFFFFF; /* رنگ پس‌زمینه محتوای تب */
    -fx-padding: 15px; /* فضای داخلی محتوای تب */
    -fx-border-color: #E0E0E0; /* رنگ حاشیه محتوای تب */
    -fx-border-width: 1px; /* عرض حاشیه */
}

.load-cart-button{
    -fx-background-color: #7E99A3;
    -fx-background-radius: 30;
}